
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="automation_test"   verbose="1" parallel="classes">
    <test name="selenium_Grid" >
        <classes>
           <class name="selenium_grid.SeleniumGrid_Chrome1"/>
            <class name="selenium_grid.SeleniumGrid_Chrome2"/>
            <class name="selenium_grid.SeleniumGrid_Firefox"/>
            <class name="selenium_grid.SeleniumGrid_Chrome3"/>
        </classes>
    </test>
</suite>
